@use "variables" as v;

.main_calzado{
        @extend %mainProductos;

    a img{
        width: 100vw;
        height: auto;
    }

    .productos_calzado{
            @extend %divProductos;
        section.sectiones_produc_calz{
            @extend %sectionesProductos;
        }
        img.img_main_productos{
            @extend %imgProductos;
        }
        h2 .nombre_prod_calz{
        @extend %h2Productos;
        }
        .descripcion_productos_calzado{
                @extend %descripcionProd;
        }
        .precio_produc_calz{
                @extend %precioProd;
}
}
}


    @include v.mobile{
        .main_calzado{
        padding-left: 0;
        padding-right: 0;
        }


.productos_calzado{
    padding-left: 0;
    padding-right: 0;
    gap: 0.1px;


}    
.img_fondo_calzado{
    width: 100%;
    height: auto;
}    

.divv_calz{

        display: grid !important;
        grid-template-areas: 
". a1 b2 ."
". c3 d4 ."
;

}

.sect_1{
    grid-area: a1;
    
}
.sect_2{
    grid-area: b2;
    
}
.sect_3{
    grid-area: c3;

}
.sect_4{
    grid-area: d4;

}

.img_main_productos{
    width: 100%;
    height: auto;          
    max-height: 210px; 

}
}
