/*MAIN CONTACTO*/
main.main_contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15vh;
    height: 100vh;
    gap: 1vw;
    h2.sub_contacto{
    font-weight: 500;
    font-size: 30px;
    }
    p.parrafo_contacto{
    font-weight: 400;
    font-size: 15px;
    width: 17vw;
    text-align: justify;
    }
    form.form_contacto{
            display: grid;
        grid-template-areas: 
        "lab_nom . . ."
        "nombre nombre nombre nombre"
        "lab_ed . . ."
        "edad edad edad edad"
        "lab_corr . . ."
        "correo correo correo correo"
        "lab_cont . . ."
        "contraseña contraseña contraseña contraseña"
        "lab_com . . ."
        "comentarios comentarios comentarios comentarios"
        "enviar . comenzar ."
        ;
    gap: 20px;
            label.lab_nom{
                grid-area: lab_nom;
                font-weight: 600;
                font-size: 15px;

            }
            input.nombre{
            grid-area: nombre; 
                font-weight: 200;
                font-size: 15px;
            }  
            label.lab_ed{
                grid-area: lab_ed; 
                font-weight: 600;
                font-size: 15px;

            } 
            input.edad{
            grid-area: edad; 
            font-weight: 200;
            font-size: 15px;
                
            }  
            label.lab_corr{
                grid-area: lab_corr; 
                font-weight: 600;
                font-size: 15px;

            }
            input.correo{
            grid-area: correo; 
            font-weight: 200;
            font-size: 15px;

            }      
            label.lab_cont{
                grid-area: lab_cont;
                font-weight: 600;
                font-size: 15px;

            }
            input.contraseña{
            grid-area: contraseña; 
            font-weight: 200;
            font-size: 15px;
                
            }      
            label.lab_com{
                grid-area: lab_com;
                font-weight: 600;
                font-size: 15px; 

            }
            textarea.comentarios{
                    grid-area: comentarios; 
                    height: 10vh;

            }

            input.enviar{
                    grid-area: enviar; 
    font-weight: 600;
    font-size: 12px;


            }
            input.comenzar{
                    grid-area: comenzar; 
    font-weight: 600;
    font-size: 12px;
            }
    }
}
