@use "variables" as v; 
.main_favoritos{
    display: flex;
    flex-direction: column;
    height: 90vh;
    gap: 10vw;
    padding-top: 15vh;
h2.sub_main_fav{
    @include v.h2ComFav(500, 30px, 3vw, 3vw, 2px solid dimgray);
    }
section.section_main_favoritos{
        display: grid;
    grid-template-areas: 
        "desc_favoritos"
        "img_favoritos"
    ;
    place-items: center; 
    text-align: center;

            p.descripcion_favoritos{
                grid-area: desc_favoritos;
                @include v.descripFavCom(450, 16px);
            }
            img{
                    grid-area: img_favoritos;
                    width: 2.5vw;              
                    height: auto;
            }
}    
}