@use "variables" as v; 

.main_inicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 4vh;
    gap: 2.5vw;
                .carrusel{
                padding-top: 1vw;
                }

.contenedor_productos{      
    display: flex;  
    flex-direction: column;
    gap: 5vw; 
    padding: 4vw; 

article.article_produc_index{
display: flex;
flex-direction: column;
align-items: center;

.productos{
 display: flex;
 align-items: center;
 flex-direction: row;
 justify-content: center;
 gap: 1vw;
}

section.sectiones_productos{
    display: flex;
    flex-direction: column;
    gap: 0.5vw;

                img.img_main_inicio{
                    height: 55vh;
                    width: auto;
                }

.div_descripciones_prod{
    display: flex;
    flex-direction: column;
    gap: 0.1vw;
    align-items: flex-start;

                            h2 a.nombre_de_productos{
                                    text-decoration: none;
                                    font-weight: 500;
                                    font-size: 16px;
                                    color: v.$colorPrincipal;
                            }
                            p.descripcion_productos{
                                    font-weight: 400;
                                    font-size: 16px;
                            }
                            p.precio_productos{
                                    color: v.$colorPrincipal;
                                    font-weight: 500;
                                    font-size: 18px;                        
                            }
}
}
}
}
}



@media (max-width: 768px) {

  .contenedor_productos {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;


  .productos {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.2rem;
 

  .sectiones_productos {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .img_main_inicio {
    width: 100%;
    height: auto;          
    max-height: 250px;      
    }


    .nombre_de_productos {
    font-size: 0.85rem;
    }

    .descripcion_productos {
    display: flex;
    font-size: 0.40rem;
    gap: 0.02rem;
    }

    .precio_productos {
    font-size: 0.5rem;
    font-weight: bold;
    }
}
}
  }
}

