/*MAIN LOGIN*/
.main_login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    padding-top: 15vh;
    height: 90vh;
    gap: 3vw;
        section.section_login{
        width: 22vw;
        height: 45vh;
        padding: 3.5vw;
        gap: 5vh;
        h2.sub_login{
        font-weight: 500;
        font-size: 25px;
        }
        form.form_login{
        display: grid;
        grid-template-areas: 
        "email email email email"
        "cont cont cont cont" 
        ". cont_olv cont_olv ." 
        ". iniciar iniciar ." 
        ". registro registro enlace"
    ;

    gap: 20px;
            input.login_email{
                grid-area: email;
                font-weight: 200;
                font-size: 15px;
            }
            input.login_cont{
                grid-area: cont;
                font-weight: 200;
                font-size: 15px;
            }
            a.cont_olvidada{
            grid-area: cont_olv;
            font-weight: 500;
            font-size: 15px;
            color: #000000;
            } 
            }
            input.button_iniciar{
            grid-area: iniciar;
            font-weight: 700;
            font-size: 14px;
            }
            span.mensaje_registro{
            grid-area: registro;
            font-size: 15px;
            font-weight: 300;}
        }
            .enlaces_formulario{
            grid-area: enlace;
            font-weight: 500;
            font-size: 15px;
            color: #000000;
}
}