@use "variables" as v;

.main_ropa{
        @extend %mainProductos;

        .img_fondo_ropa{
        width: 100vw;
        height: auto;
        }

        .productos_ropa{
                @extend %divProductos;
        section.sectiones_produc_ropa{
                @extend %sectionesProductos;
        }
        img.img_main_ropa{
                @extend %imgProductos;
        }
        h2 .nombre_prod_ropa{
                @extend %h2Productos;
        }
        .descripcion_productos_ropa{
                @extend %descripcionProd;
        }
        .precio_produc_ropa{
                @extend %precioProd;
}
}
}

        @include v.mobile{
        .main_ropa{
        padding-left: 0;
        padding-right: 0;
        }


.productos_ropa{
        padding-left: 0;
        padding-right: 0;



}    
.img_fondo_ropa{
        width: 100%;
        height: auto;
}    

.divv_ropa{

        display: grid!important;
        grid-template-areas: 
". aa bb ."
". cc dd ."
;

}

.sect_aa{
        grid-area: aa;   
}
.sect_bb{
        grid-area: bb;  
}
.sect_cc{
        grid-area: cc;

}
.sect_dd{
        grid-area: dd;
}

.img_main_ropa{
        width: 100%;
        height: auto;          
        max-height: 210px; 

}
}