@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    font-weight: 100;
}

/* HEADER */

.header_index{
    position: fixed;           /* Para fijarlo en la pantalla */
    display: flex;
    justify-content: space-around;
    gap: 2vwx;
    top: 0; 
    height: 15vh;
    width: 100vw;
    align-items: center;
    background-color: black;
    z-index:1;
    
}

.section_header_logo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2px;
}

.logo_img {
    height:7vh;
    width: auto;

}
.titulo_principal{
    font-weight: 700;
    font-size: 32px;
    color: white;
}

#menu_productos {
    font-weight: 900;
    font-size: 16px; 
    display: flex;
    width: 40vw;
    justify-content: space-around;
}

.barra_navegacion{
    display: flex;             /* Flexbox */
    flex-direction: row;       /* Íconos en fila (horizontalmente) */
    gap: 3vw;                 /* Espacio entre íconos */
}
.barra_navegacion img{
    width: 2vw;              
    height: auto;
}
@media (max-width: 430px){

    .titulo_principal{
    display: none;
}

#menu_productos {
    display: none;
}
.barra_navegacion img{
    width: 8vw;              
    height: auto;
}
}

/*MAIN FAV COM*/
.main_fav_com{
    height:7vh;
    width: auto;
}

/*MAIN INDEX*/

.main_inicio {
    display: grid;
    grid-template-areas:
        ". carr carr ."
        "a b c d";
    grid-template-columns: repeat(4, 1fr);
    gap: 2vw;
    height: 200vh;
    padding-top: 18vh;
    justify-items: center;
    align-items: start;
}

/*Carrusel*/

.carrusel {
    grid-area: carr;
    width: 100%;
    
}

.tenis_azules { grid-area: a; }
.tenis_blancos { grid-area: b; }
.tenis_negros { grid-area: c; }
.tenis_beige { grid-area: d; }

.tenis_azules,
.tenis_blancos,
.tenis_negros,
.tenis_beige {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.img_main_inicio {
    width: 19vw;
    height: auto;
}

.nombre_de_productos {
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: #000;
}

.descripcion_productos {
    font-weight: 400;
    font-size: 16px;
}

.precio_productos {
    font-weight: 600;
    font-size: 18px;
}

.img_car {
    width: 60vw;
    height: auto;
}

/* Responsive */



/*@media (max-width: 430px){
.main_inicio {
    display: grid;
    grid-template-areas:
    "a b"
    "c d"
    ;
    margin: 5vw;
    height: 100vh;
    padding-top: 15vh;
    justify-content: center;
    align-items: center; 
}

.img_main_inicio {
    grid-area: img;
    width: 38vw;              
    height: auto;
}
.nombre_de_productos {
    font-weight: 400;
    font-size: 13.5px;
}
.descripcion_productos{
    font-weight: 200;
    font-size: 13.5px; 
}
.precio_productos{
    font-weight: 400;
    font-size: 14px;
}
}*/

@media (max-width: 430px){
    .main_inicio {
    display: grid;
    grid-template-areas:
    "carr carr"
    "a b"
    "c d";
    grid-template-columns: 1fr 1fr;
    gap: 2px;
    padding-top: 18vh;
    justify-items: center;
    height: 110vh;
    }

.carrusel {
    grid-area: carr;
    width: 60vw;
    }

    .tenis_azules {
        grid-area: a; 
    }
    .tenis_blancos {
        grid-area: b; 
    }
    .tenis_negros { 
    grid-area: c;
    }
    .tenis_beige  {
        grid-area: d;
        }
}






/*MAIN COMPRAS*/

.main_compras{
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 100vw;
    gap: 10vw;
    padding-top: 15vh;
}
.sub_main_com{
    font-weight: 500;
    font-size: 30px;
    margin-left: 5vw;
}

.section_main_compras{
    display: grid;
    grid-template-areas: 
        "desc_compra"
        "img_carrito";
    place-items: center; 
    text-align: center;
}
.descripcion_compras{
    grid-area: desc_compra;
    font-weight: 300;
    font-size: 17px;
}

.img_main_carrito{
    grid-area: img_carrito;
    width: 4vw;              
    height: auto;
}

/*MAIN FAVORITOS*/

.main_favoritos{
    display: flex;
    flex-direction: column;
    height: 90vh;
    gap: 10vw;
    padding-top: 15vh;
}

.sub_main_fav{
    font-weight: 500;
    font-size: 30px;
    margin-left: 5vw;
}

.section_main_favoritos{
    display: grid;
    grid-template-areas: 
        "desc_favoritos"
        "img_favoritos"
    ;
    place-items: center; 
    text-align: center;

}

.img_main_favoritos{
    grid-area: img_favoritos;
    width: 2.5vw;              
    height: auto;
}


.descripcion_favoritos{
    grid-area: desc_favoritos;
    font-weight: 300;
    font-size: 17px;
}
/*MAIN LOGIN*/

    .main_login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    padding-top: 15vh;
    height: 90vh;
    gap: 2vw;
    }

    .form_login{
    display: grid;
    grid-template-areas: 
    "email email email email"
    "cont cont cont cont" 
    ". cont_olv cont_olv ." 
    ". iniciar iniciar ." 
    ". registro registro enlace"
    ;
    gap: 20px;
    }
    .sub_login{
    font-weight: 500;
    font-size: 25px;
    }


    .login_email{
    grid-area: email;
    font-weight: 200;
    font-size: 15px;
    }
    .login_cont{
    grid-area: cont;
    }
    .cont_olvidada{
    grid-area: cont_olv;
    font-weight: 500;
    font-size: 15px;

    }
    .button_iniciar{
    grid-area: iniciar;
    font-weight: 400;
    font-size: 15px;
}

.mensaje_registro{
    grid-area: registro;
    font-size: 15px;
    font-weight: 200;
}
.enlaces_formulario{
    grid-area: enlace;
    font-weight: 500;
    font-size: 15px;
}
/*MAIN CONTACTO*/
.main_contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15vh;
    height: 100vh;
    gap: 2vw;
}
input{
    font-weight: 200;
    font-size: 15px;
}
/*
.sub_contacto {
    font-weight: 500;
    font-size: 30px;
}

*/


.sub_contacto {
    font-weight: 500;
    font-size: 30px;
}

.parrafo_contacto {
    font-weight: 400;
    font-size: 15px;
    width: 17vw;
    text-align: justify;
}


.form_contacto {
    display: grid;
    grid-template-areas: 
        "lab_nom . . ."
        "nombre nombre nombre nombre"
        "lab_ed . . ."
        "edad edad edad edad"
        "lab_corr . . ."
        "correo correo correo correo"
        "lab_cont . . ."
        "contraseña contraseña contraseña contraseña"
        "lab_com . . ."
        "comentarios comentarios comentarios comentarios"
        "enviar . comenzar ."
        ;
    gap: 20px;
}

label{
    grid-area: label;
    font-weight: 600;
    font-size: 15px;
}

input{
    grid-area: input;
    font-weight: 200;
    font-size: 15px;
}

iframe{
    height: 50vh;
    height: 50vw;
}
textarea{
    height: 10vh;
}

.lab_nom {
    grid-area: lab_nom; 
}
.lab_ed {
    grid-area: lab_ed;
}
.lab_corr { 
    grid-area: lab_corr;
}
.lab_cont {
    grid-area: lab_cont;
}
.lab_com {
    grid-area: lab_com; 
}

.nombre {
    grid-area: nombre; 
}
.edad {
    grid-area: edad; 
}
.correo { 
    grid-area: correo;
}
.contraseña {
    grid-area: contraseña; 
}
.comentarios { 
    grid-area: comentarios; 
}
.enviar { 
    grid-area: enviar; 
    font-weight: 600;
    font-size: 12px;
}
.comenzar {
    grid-area: comenzar; 
    font-weight: 600;
    font-size: 12px;
}


/*FOOTER*/
.footer{
    display: flex;
    align-items: center;
    justify-content: space-around; 
    height: 10vh;
    width:100vw ;
    background-color: black;
}

.derechos{
    display: flex;
    font-weight: 400;
    font-size: 15px;
    flex-direction: column;
    color: white;
    }

    .enlace_contacto{
    font-weight: 400;
    font-size: 18px;
    }  


.flex_footer  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
    align-items: end;
}

.flex_footer  li img {
    width: 2.5vw;             
    height: auto;
    gap: 5vw; 
}   

@media (max-width: 430px){
.footer{
    align-items: center; 
    flex-direction: column-reverse;
    justify-content: end;
    height: 30vh;
    gap: 4vw;
}    

.flex_footer  li img {
    width: 8vw;             
    height: auto;
    gap: 5vw; 
}   
}


ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}
