@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
  text-decoration: none;
}

.main_suplementos, .main_accesorios, .main_calzado, .main_ropa {
  display: flex;
  flex-direction: column;
  height: 190vh;
  padding-top: 4vh;
  gap: 2.5vw;
  color: rgb(0, 0, 0);
}

.main_suplementos .productos_suplementos, .main_accesorios .productos_accesorios, .main_calzado .productos_calzado, .main_ropa .productos_ropa {
  display: flex;
  flex-direction: row;
  justify-items: center;
  padding-left: 13vw;
  padding-right: 13vw;
  gap: 1vw;
}

.main_suplementos .productos_suplementos section.sectiones_produc_sup, .main_accesorios .productos_accesorios section.sectiones_produc_acces, .main_calzado .productos_calzado section.sectiones_produc_calz, .main_ropa .productos_ropa section.sectiones_produc_ropa {
  display: flex;
  flex-direction: column;
  padding-top: 4vh;
  gap: 0.5vw;
}

.main_suplementos .productos_suplementos img.img_main_productos, .main_accesorios .productos_accesorios img.img_main_acces, .main_calzado .productos_calzado img.img_main_productos, .main_ropa .productos_ropa img.img_main_ropa {
  width: auto;
  height: 55vh;
  margin-bottom: 1.5px;
}

.main_suplementos .productos_suplementos h2 .nombre_prod_sup, .main_accesorios .productos_accesorios h2 .nombre_prod_acces, .main_calzado .productos_calzado h2 .nombre_prod_calz, .main_ropa .productos_ropa h2 .nombre_prod_ropa {
  font-weight: 400;
  font-size: 16px;
  color: rgb(0, 0, 0);
}

.main_suplementos .productos_suplementos .descripcion_productos_sup, .main_accesorios .productos_accesorios .descripcion_productos_acces, .main_calzado .productos_calzado .descripcion_productos_calzado, .main_ropa .productos_ropa .descripcion_productos_ropa {
  font-weight: 400;
  font-size: 15px;
  color: rgb(0, 0, 0);
}

.main_suplementos .productos_suplementos .precio_produc_sup, .main_accesorios .productos_accesorios .precio_produc_acces, .main_calzado .productos_calzado .precio_produc_calz, .main_ropa .productos_ropa .precio_produc_ropa {
  font-weight: 600;
  font-size: 15px;
  color: rgb(0, 0, 0);
}

.header_index {
  position: fixed;
  display: flex;
  justify-content: space-around;
  gap: 2vw;
  top: 0;
  height: 11vh;
  width: 100vw;
  align-items: center;
  background-color: black;
  z-index: 1;
}
.header_index .section_header_logo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2px;
}
.header_index .section_header_logo a .logo_img {
  height: 7vh;
  width: auto;
}
.header_index .section_header_logo .titulo_principal {
  font-weight: 700;
  font-size: 32px;
  color: white;
}
.header_index #menu_productos {
  display: flex;
  color: white;
  width: 40vw;
  justify-content: space-around;
}
.header_index #menu_productos a.navegacion_tienda {
  text-decoration: none;
  font-weight: 2GU00;
  font-size: 2vh;
  color: white;
}

.barra_navegacion {
  display: flex;
  flex-direction: row;
  gap: 3vw;
}
.barra_navegacion a img {
  width: auto;
  height: 4.7vh;
}

.main_inicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 364vh;
  padding-top: 4vh;
  gap: 2.5vw;
}
.main_inicio .video_fondo {
  width: auto;
  height: 100vh;
}
.main_inicio a .img_fondo_index {
  width: 86vw;
  height: auto;
  padding-left: 13vw;
}
.main_inicio section .h2_main_productos {
  font-weight: 700;
  font-size: 22px;
  color: rgb(0, 0, 0);
  padding-left: 13vw;
}
.main_inicio .productos {
  display: flex;
  flex-direction: row;
  justify-items: center;
  padding-left: 13vw;
  padding-right: 13vw;
  gap: 1vw;
}
.main_inicio .productos .sectiones_productos {
  margin: 1.5px;
}
.main_inicio .productos .sectiones_productos img {
  width: auto;
  height: 55vh;
  margin-bottom: 1.5px;
}
.main_inicio .productos .sectiones_productos h2 a.nombre_de_productos {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  color: rgb(0, 0, 0);
}
.main_inicio .productos .sectiones_productos p.descripcion_productos {
  font-weight: 400;
  font-size: 14px;
}
.main_inicio .productos .sectiones_productos p.precio_productos {
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 15px;
}

/*MAIN LOGIN*/
.main_login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 15vh;
  height: 90vh;
  gap: 3vw;
}
.main_login section.section_login {
  width: 22vw;
  height: 45vh;
  padding: 3.5vw;
  gap: 5vh;
}
.main_login section.section_login h2.sub_login {
  font-weight: 500;
  font-size: 25px;
}
.main_login section.section_login form.form_login {
  display: grid;
  grid-template-areas: "email email email email" "cont cont cont cont" ". cont_olv cont_olv ." ". iniciar iniciar ." ". registro registro enlace";
  gap: 20px;
}
.main_login section.section_login form.form_login input.login_email {
  grid-area: email;
  font-weight: 200;
  font-size: 15px;
}
.main_login section.section_login form.form_login input.login_cont {
  grid-area: cont;
  font-weight: 200;
  font-size: 15px;
}
.main_login section.section_login form.form_login a.cont_olvidada {
  grid-area: cont_olv;
  font-weight: 500;
  font-size: 15px;
  color: #000000;
}
.main_login section.section_login input.button_iniciar {
  grid-area: iniciar;
  font-weight: 700;
  font-size: 14px;
}
.main_login section.section_login span.mensaje_registro {
  grid-area: registro;
  font-size: 15px;
  font-weight: 300;
}
.main_login .enlaces_formulario {
  grid-area: enlace;
  font-weight: 500;
  font-size: 15px;
  color: #000000;
}

.main_favoritos {
  display: flex;
  flex-direction: column;
  height: 90vh;
  gap: 10vw;
  padding-top: 15vh;
}
.main_favoritos h2.sub_main_fav {
  font-weight: 500;
  font-size: 30px;
  margin-left: 3vw;
  margin-right: 3vw;
  border-bottom: 2px solid dimgray;
}
.main_favoritos section.section_main_favoritos {
  display: grid;
  grid-template-areas: "desc_favoritos" "img_favoritos";
  place-items: center;
  text-align: center;
}
.main_favoritos section.section_main_favoritos p.descripcion_favoritos {
  grid-area: desc_favoritos;
  font-weight: 450;
  font-size: 16px;
}
.main_favoritos section.section_main_favoritos img {
  grid-area: img_favoritos;
  width: 2.5vw;
  height: auto;
}

.main_compras {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 100vw;
  gap: 10vw;
  padding-top: 15vh;
}
.main_compras .sub_main_com {
  font-weight: 500;
  font-size: 30px;
  margin-left: 3vw;
  margin-right: 3vw;
  border-bottom: 2px solid dimgray;
}
.main_compras section.section_main_compras {
  display: grid;
  grid-template-areas: "img_carrito" "desc_compra" "int_compra" "button";
  place-items: center;
  text-align: center;
  gap: 1vw;
}
.main_compras section.section_main_compras img.img_main_carrito {
  grid-area: img_carrito;
  width: 4vw;
  height: auto;
}
.main_compras section.section_main_compras p.descripcion_compras {
  grid-area: desc_compra;
  font-weight: 450;
  font-size: 16px;
}
.main_compras section.section_main_compras p.introductor_a_comprar {
  grid-area: int_compra;
  font-weight: 400;
  font-size: 15px;
  color: #575757;
}
.main_compras section.section_main_compras button.button_compra {
  grid-area: button;
  font-weight: 400;
}

/*MAIN CONTACTO*/
main.main_contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15vh;
  height: 100vh;
  gap: 1vw;
}
main.main_contacto h2.sub_contacto {
  font-weight: 500;
  font-size: 30px;
}
main.main_contacto p.parrafo_contacto {
  font-weight: 400;
  font-size: 15px;
  width: 17vw;
  text-align: justify;
}
main.main_contacto form.form_contacto {
  display: grid;
  grid-template-areas: "lab_nom . . ." "nombre nombre nombre nombre" "lab_ed . . ." "edad edad edad edad" "lab_corr . . ." "correo correo correo correo" "lab_cont . . ." "contraseña contraseña contraseña contraseña" "lab_com . . ." "comentarios comentarios comentarios comentarios" "enviar . comenzar .";
  gap: 20px;
}
main.main_contacto form.form_contacto label.lab_nom {
  grid-area: lab_nom;
  font-weight: 600;
  font-size: 15px;
}
main.main_contacto form.form_contacto input.nombre {
  grid-area: nombre;
  font-weight: 200;
  font-size: 15px;
}
main.main_contacto form.form_contacto label.lab_ed {
  grid-area: lab_ed;
  font-weight: 600;
  font-size: 15px;
}
main.main_contacto form.form_contacto input.edad {
  grid-area: edad;
  font-weight: 200;
  font-size: 15px;
}
main.main_contacto form.form_contacto label.lab_corr {
  grid-area: lab_corr;
  font-weight: 600;
  font-size: 15px;
}
main.main_contacto form.form_contacto input.correo {
  grid-area: correo;
  font-weight: 200;
  font-size: 15px;
}
main.main_contacto form.form_contacto label.lab_cont {
  grid-area: lab_cont;
  font-weight: 600;
  font-size: 15px;
}
main.main_contacto form.form_contacto input.contraseña {
  grid-area: contraseña;
  font-weight: 200;
  font-size: 15px;
}
main.main_contacto form.form_contacto label.lab_com {
  grid-area: lab_com;
  font-weight: 600;
  font-size: 15px;
}
main.main_contacto form.form_contacto textarea.comentarios {
  grid-area: comentarios;
  height: 10vh;
}
main.main_contacto form.form_contacto input.enviar {
  grid-area: enviar;
  font-weight: 600;
  font-size: 12px;
}
main.main_contacto form.form_contacto input.comenzar {
  grid-area: comenzar;
  font-weight: 600;
  font-size: 12px;
}

.main_ropa a img {
  width: 100vw;
  height: auto;
}
.main_calzado a img {
  width: 100vw;
  height: auto;
}
.main_accesorios a img {
  width: 100vw;
  height: auto;
}
.main_suplementos a img {
  width: 100vw;
  height: auto;
}
.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  border-top: 1px solid #a5a5a5;
}
.footer section.derechos {
  display: flex;
  font-weight: 400;
  font-size: 13px;
  flex-direction: column;
  color: #666666;
}
.footer a.enlace_contacto {
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  color: #666666;
}
.footer nav ul.flex_footer {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.footer nav ul.flex_footer li a img {
  width: auto;
  height: 3.4vh;
}

/*# sourceMappingURL=styles.css.map */
